sudo: false

language: php

env:
  - COMPOSER_DISABLE_XDEBUG_WARN=1

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_script:
  - mv -f -v composer-travis-ci.json composer.json
  - composer self-update
  - travis_retry composer install --no-interaction

script:
  - mkdir -p build/logs
  - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

after_script:
  - php vendor/bin/coveralls -v
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml

notifications:
  email: false
